# --- [ Heritage Stack API Keys ] ---
HOMEPAGE_VAR_KEY_JELLYFIN=

# --- [ Beszel ] ---
HOMEPAGE_VAR_BESZEL_USERNAME=
HOMEPAGE_VAR_BESZEL_PASSWORD=
BESZEL_APP_URL=

# --- [ Tailscale ] ---
TS_AUTHKEY=tskey-auth-<your-key-here>

# --- [ Location Config ] ---
HOMEPAGE_VAR_LATITUDE=
HOMEPAGE_VAR_LONGITUDE=

# --- [ Stocks ] ---
HOMEPAGE_VAR_FINNHUB_KEY=
